.card {
  width: 400px;
  padding: 20px;
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 20px;
}

.description {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .5s;
}

.inner {
  overflow: hidden;
}

.active {
  grid-template-rows: 1fr;
}
